main {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.showKey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.keyDisplay {
  font-size: 150px;
}

.key {
  font-size: 35px;
  background-color: aliceblue;
  padding: 5px 18px;
  box-shadow: 1px 2px 2px #bbb;
}
